
.shuffled-word-button {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  background: navajowhite;
  color: mediumseagreen;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}

