* {
  box-sizing: border-box;
}

html {
  background: white;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 2;
  text-rendering: optimizeSpeed;
}

header {
  font-size: 28px;
}

main {
  margin: 1em;
  }